/* Reset css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
    border: 0;
}

/* Header */

.header__wrapper {
    background-color: #02160b;
}
.layout {
    max-width: 1440px;
    margin: 0 auto;
}
.header__container {
    padding: 19px 120px 240px; 
    background: url(./Images/foxBG.jpg) 50% 50% / cover no-repeat;
    filter: drop-shadow(-150px 0px 150px #02160B);
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 116px;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
}
.header__nav {
    display: flex;
    width: 480px;
    justify-content: space-between;
}
.header__nav a {
    font-size: 23px;
    line-height: 60px;   
}
.header__nav li:nth-child(3) {
    margin-top: 3px;
}
.header__button {
    padding: 9px 24px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #CD6326;
    border-radius: 5px;
}
.logo__text {
    padding-left: 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 60px;
    vertical-align: top;
    text-transform: uppercase;
}

/* Survival section */

.survival__header {
    margin-bottom: 51px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}
.survival__text {
    max-width: 274px;
    margin-bottom: 51px;
    font-size: 18px;
    line-height: 27px;
}
.survival__button {
    padding: 16px 43px 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    background: #CD6326;
    border-radius: 5px;
}
