/* Reset css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
    border: 0;
}

/* Header */

.header__wrapper {
    background-color: #02160b;
}
.layout {
    max-width: 1440px;
    margin: 0 auto;
}
.header__container {
    padding: 19px 120px 240px; 
    background: url(./Images/foxBG.jpg) 50% 50% / cover no-repeat;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 116px;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
}
.header__nav {
    display: flex;
    width: 480px;
    justify-content: space-between;
}
.header__nav a {
    font-size: 23px;
    line-height: 60px;   
}
.header__nav li:nth-child(3) {
    margin-top: 3px;
}
.header__nav li:nth-child(4) {
    margin-top: 2px;
}
.header__button {
    padding: 9px 24px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #CD6326;
    border-radius: 5px;
}
.logo__text {
    padding-left: 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 60px;
    vertical-align: top;
    text-transform: uppercase;
}

/* Survival section */

.survival__header {
    margin-bottom: 52px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}
.survival__text {
    max-width: 274px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 27px;
}
.survival__button {
    padding: 16px 43px 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    background: #CD6326;
    border-radius: 5px;
}

/* Latest articles section */

.articles {
    padding: 120px 0 235px;
    background-color: #cccccc
}
.articles__header {
    margin-bottom: 19px;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}
.articles__subheader {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-bottom: 120px;
}
.slider__wrapper {
    display: flex;
    justify-content: space-between;
}
.slider {
    max-width: 1020px;
    overflow: hidden;
}
.slider-line {
    position: relative;
    display: flex;
}
.card {
    position: relative;
    margin-right: 60px;
}
.card__text {
    position: absolute;
    bottom: 45px;
    width: 300px;
    text-align: center;
}
.card__header {
    padding-bottom: 9px;
    font-size: 22px;
    line-height: 36px;
}
.card__subheader {
    font-size: 17px;
    line-height: 27px;
}
.arrow_prev {
    display: flex;
    align-items: center;
}
.arrow_next {
    display: flex;
    margin-right: 1px;
    align-items: center;
    transform: rotate(180deg);
}

/* Get notified secion */

.notification {
    padding-bottom: 239px;
    background-color: #cccccc;
}
.notification__header {
    margin-bottom: 60px;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
.notification__form {
    display: flex;
    justify-content: center;
}
.notification__input {
    width: 540px;
    padding-left: 15px;
    padding-top: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    background-color: #cccccc;
    border: 1px solid #666666;
    border-right: 0;
}
.notification__button {
    padding: 17px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    background-color: #CD6326;
    border-radius: 0px 5px 5px 0px;
}